.breadcrumb{
	margin-top: 20px;
	background-color : black !important;
}



body{
	background-color: black;
}

.breadcrumb a{
	color: #FFA042 !important;
	font-size:large;

}


.logo{
	width: 95%;
	display:block;
  	margin: auto;
  	margin-bottom: 25px;
}


.slide_image{

	width: 50% !important;
	display:block !important;
  	margin: auto !important;

}

.audio_image{
	float: left;
	margin-right: 1.25%;
	padding-left:3%;

}

.audio_image input{
	width: 11%;
}

.foot_right{
	text-align: center;
	font-size: 30px;
	color: white;
}

.foot{
	text-align: center;
	color: orange;
	font-size: 25px;
}

.intro{
	background-image: url(../img/green_frame.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.pk{
	background-image: url(../pk_img/bg.png);
	background-size: 100% 121.5%;
	background-repeat: no-repeat;
	background-position: center;

	}

.logo_video{
	margin-left: auto;
    margin-right: auto;
    display: block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;

}

.song_video{

	width: 65% !important;
	height: 50% !important;
	margin-left: auto;
    margin-right: auto;
    display: block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;

}

.question_title{
	padding-top: 250px;
	padding-bottom: 30px;
	width: 50%;	
	margin: auto;
	color: white;
	text-align: center;
	font-size: 35px;


}

.question_content{
	text-align: center;
	font-size: 25px;
	color: white;
	padding-bottom: 40px;

}



.auto-resizable-iframe {
	max-width: 1024px;
	margin: 30px auto 0px;
}

.auto-resizable-iframe  div {
	position: relative;
	padding-bottom: 75%;
	height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.lyric_title{
	text-align: center;
	color: white;
	font-size: 35px;
}

.lyric_content{
	text-align: left;
	color: white;
	font-size: 20px;
	width: 40%;
  	margin: auto;

}


.special{
	color: red;
	font-size: 25px;
}




